<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538147968733-9mdk3fsmop41jmf1sml21ehhgrqj10t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538147968733-9mdk3fsmop41jmf1sml21ehhgrqj10t4</string>
	<key>API_KEY</key>
	<string>AIzaSyDn4B2kBn5nTBQrJwedmXiyPb2yO7yOJM8</string>
	<key>GCM_SENDER_ID</key>
	<string>538147968733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebay</string>
	<key>PROJECT_ID</key>
	<string>ebay-c8fc6</string>
	<key>STORAGE_BUCKET</key>
	<string>ebay-c8fc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538147968733:ios:051b47941b62c382ecad34</string>
</dict>
</plist>